<p> </p>
<div class="center">
    <button mat-raised-button [routerLink]="['/pageData']">Données</button>
    <button mat-raised-button [routerLink]="['/pageChiffrage']">Chiffrage</button>
    <button mat-raised-button [routerLink]="['/pageDelivery']" >Delivery</button>
    <button mat-raised-button [routerLink]="['/pageEchancier']">Echéancier</button>
    <button mat-raised-button color="primary" [routerLink]="['/pageSynthese']" >Synthèse</button>
</div>
<br/>
<div class="main-div">
  <mat-card class="card">
    <mat-card-title>
        <mat-card-title>Synthèse:</mat-card-title>
    </mat-card-title>
    <mat-card-content>
   <div>
        <div>Nom client: {{NomClient}}</div>
        <div>Nom Projet: {{NomProjet}}</div>
        <div>Devis: {{nomdevis}}</div>
    </div> 
    <div>
        <div>Date Création:{{dateCreation}}</div>
        <div>Date Validation: {{dateValidation}}</div>
    </div>
        <table>
            <tr>
                <th>Fonction</th>
                <th>Evolution</th>
                <th>Total PTU</th>
                <th>charge total </th>
                <th>Montant total HT </th>
            </tr>
            <tr *ngFor ="let e of this.ptu; let i = index"> 
                <td>{{function[i]}}</td>
                <td>{{evolution[i]}}</td>
                <td>{{ptu[i]}}</td>
                <td>{{charge[i]}}</td>
                <td>{{montant[i]}}</td>
            </tr>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td>{{montantTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <p></p>
        <h4>Echeancier:</h4>
        <table>
            <tr>
                <th>Etape</th>
                <th>Montant à payer</th>
            </tr>
            <tr *ngFor ="let e of etapes; let i = index"> 
                <td>{{e}}</td>
                <td>{{Montant[i]}}</td>
            </tr>
            <tfoot>
                <tr>
                    <td>Total:</td>
                    <td>{{total}} </td>
                </tr>
            </tfoot>
        </table>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="onSave()" style="margin-right:100px;">Valider</button>
  </mat-card>
</div>