<p> </p>
<div class="center">
    <button mat-raised-button [routerLink]="['/pageData']">Données</button>
    <button mat-raised-button [routerLink]="['/pageChiffrage']">Chiffrage</button>
    <button mat-raised-button color="primary" [routerLink]="['/pageDelivery']" >Delivery</button>
    <button mat-raised-button >Echéancier</button>
    <button mat-raised-button >Synthèse</button>
</div>

<br/>
<div class="main-div">
  <mat-card class="card">
    <mat-card-title>
        <mat-card-title>Le modèle de delivery:</mat-card-title>
    </mat-card-title>
    <mat-card-content>
        <div>  Modèle delivery :  </div>
        
        <mat-form-field appearance="legacy">
            <mat-label>Sélectionner ratio</mat-label>
            <mat-select  placeholder="Sélectionner modèle" name="delivery" (selectionChange)="changeModele($event.value)" >
                <mat-option *ngFor="let d of delivery" [value]="d.deliveryId">
                  {{d.nom}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <div>
            
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checked" (change)="changeAll($event.checked)">Tarif unique</mat-checkbox>
        </section>
        </div>
        <table>
            <tr>
                <th>Num demande</th>
                <th>Evolution </th>
                <th>Fonction</th>
                <th>PTU</th>
                <th *ngFor="let a of activite; let i = index">{{a.idCourt}}/{{pourcentages[i]}}</th>
                <th>Total</th> 
                <th>Profil</th>
                <th>Cout</th>
                <th>TJ</th>
            </tr>
            <tbody *ngFor = "let n of num; let i = index">
                <tr>
                    <td>{{n}}</td>
                    <td>{{evolution[i]}}</td>
                    <td>{{function[i]}}</td>
                    <td>{{totals[i]}}</td>
                    <td *ngFor="let a of calculs; let j = index">
                        {{calculs[j][i]}}
                    </td>
                    <td>{{totalsRatio[i]}}</td>
                    <td>
                        <mat-select  placeholder="Sélectionner" name="profil" (selectionChange)="changeProfil($event.value)" >
                            <mat-option *ngFor="let p of profils" [value]="p.profilId">
                            {{p.libelle}}
                            </mat-option>
                        </mat-select>
                    </td>
                    <td>{{selectedProfil[i]}}</td>
                    <td>{{calculTj[i]}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td *ngFor="let a of activite"></td>
                    <td></td>
                    <td>{{totalTotals}}</td>
                    <td></td>
                    <td><input type="text" value={{totalCout}} (blur)="onCoutChange($event)" /></td>
                    <td>{{totalTj}}</td>
                </tr>
            </tfoot>

        </table>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="onSave()" style="margin-right:100px;">Valider</button>
  </mat-card>
</div>