<p> </p>
<div class="center">
    <button mat-raised-button [routerLink]="['/pageData']">Données</button>
    <button mat-raised-button [routerLink]="['/pageChiffrage']">Chiffrage</button>
    <button mat-raised-button [routerLink]="['/pageDelivery']" >Delivery</button>
    <button mat-raised-button color="primary"  [routerLink]="['/pageEchancier']">Echéancier</button>
    <button mat-raised-button >Synthèse</button>
</div>
<br/>
<div class="main-div">
  <mat-card class="card">
    <mat-card-title>
        <mat-card-title>Payer à:</mat-card-title>
    </mat-card-title>
    <mat-card-content>
        <div> 
            <mat-form-field appearance="legacy">
                <mat-label>Sélectionner le modèle:</mat-label>
                <mat-select  placeholder="Sélectionner modèle" name="Etapes" (selectionChange)="changeModele($event.value)" >
                    <mat-option *ngFor="let d of delivery" [value]="d.deliveryId">
                        {{d.nom}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <table>
            <tr>
                <th></th>
                <th>Pourcentage</th>
                <th>Montant </th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let e of etapes; let i = index"> 
                <td >{{e.etape}}</td>
                <td><input type="text"  value='{{pourcentage[i]}}' (blur)="onKeyPourcentage($event, i)"/></td>
                <td>{{Montant[i]}}</td>
                <td><input type="date" (blur)="onKeyDate($event, i)"/></td>
            </tr>
            
            <tfoot>
                <tr>
                    <td></td>
                    <td>{{totalP}}%</td>
                    <td>{{total}}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="onSave()" style="margin-right:100px;">Valider</button>
  </mat-card>
</div>