button{
    margin-right: 10rem;
}


mat-card{
    display: block;
    margin-left:auto;
    margin-right:auto;  
}

input {
  padding: 5px;
  width: 50%;
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    table-layout: fixed;
    width: 100%;
    word-break: break-all;
  }

table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
table tr:nth-child(even) {
    background-color: #ffffff;
  }
  