<p> </p>
<div class="center">
    <button mat-raised-button [routerLink]="['/pageData']">Données</button>
    <button mat-raised-button color="primary" [routerLink]="['/pageChiffrage']" >Chiffrage</button>
    <button mat-raised-button >Delivery</button>
    <button mat-raised-button >Echéancier</button>
    <button mat-raised-button >Synthèse</button>
</div>
<br/>
<mat-card id="card" style="text-align: center;">
	<mat-card-title>
		Matrice de chiffrage
	</mat-card-title>

	<mat-card-content>
        <table id="myTable">
            <tr>
              <th rowspan="2">Num demande</th>
              <th> </th>
              <th> </th>
              <th *ngFor = "let domaine of domaineNames; let i = index" [attr.colspan]="count[i]" >
                {{domaine}}
              </th>
              <th rowspan="3">Total</th>
            </tr>
            <tr> 
                <th></th>
                <th></th>
                <th *ngFor = "let column of tableau">{{column.nom}}</th>
                
              </tr>
            <tr>
                <th><button (click)="addItem()">+</button></th>
                <th>Evolution</th>
                <th>Fonction</th>
                <th *ngFor = "let column of tableau">{{column.valeur}}</th>
            </tr>

            <tbody *ngFor="let m of row;">
              <tr>
                  <td id="num"><input type="text" (blur)="onKeyNum($event)"/></td>
                  <td id="e"><input type="text" (blur)="onKeyE($event)"  /></td>
                  <td id="f"><input type="text"   (blur)="onKeyF($event)"/></td>
                  <td *ngFor = "let column of tableau">
                    <input type="text" (blur)="onKeyC($event, column.valeur, column.complexiteId)"  />
                  </td>
                  <td >{{total[m - 1]}}</td>
              </tr>
            </tbody>
          </table>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="onSave()" style="margin-right:100px;">Valider</button>

</mat-card>
            



           