<p> </p>

<br/>
<div class="main-div">
  <mat-card class="card">
    <mat-card-title>
        <mat-card-title>Liste des devis:</mat-card-title>
    </mat-card-title>
    <mat-card-content>
        <table>
            <tr>
                <th>DevisId</th>
                <th>Client</th>
                <th>Projet</th>
                <th>Nom devis</th>
                <th>Date de validation de devis</th>
                <th>Date de creation de devis</th>
                <th>Nombre de jours</th>
            </tr>
            <tr *ngFor="let d of devisId; let i = index"> 
                <td>{{devisId[i]}}</td>
                <td>{{client[i]}}</td>
                <td>{{projet[i]}}</td>
                <td>{{devisNom[i]}}</td>
                <td>{{dateValidation[i]}}</td>
                <td>{{dateCreation[i]}}</td>
                <td>{{nbJours[i]}}</td>
            </tr>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="onRetour()" style="margin-right:100px;">Retour</button>
  </mat-card>
</div>
